<div class="login-container">
    <form action="/action_page.php">
        <div class="login-login-row">
            <h2 style="text-align:center">Login with Social Media or Manually</h2>
            <div class="login-vl">
                <span class="login-vl-innertext">or</span>
            </div>

            <div class="login-col">
                <a href="#" class="login-fb login-btn">
                    <i class="login-fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
                <a href="#" class="login-twitter login-btn">
                    <i class="login-fa fa-twitter fa-fw"></i> Login with Twitter
                </a>
                <a href="#" class="login-google login-btn">
                    <i class="login-fa fa-google fa-fw"></i> Login with Google+
                </a>
            </div>

            <div class="login-col">
                <div class="login-hide-md-lg">
                    <p>Or sign in manually:</p>
                </div>

                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
            </div>

        </div>
    </form>
</div>

<div class="login-bottom-container">
    <div class="login-row">
        <div class="login-col">
            <a href="#" style="color:white" class="login-btn">Sign up</a>
        </div>
        <div class="login-col">
            <a href="#" style="color:white" class="btn">Forgot password?</a>
        </div>
    </div>
</div>