.player-section {
    padding-top: 3.2rem;
    padding-bottom: 3.5rem;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fafafa;
    -webkit-text-fill-color: #10b295 !important;
}
.container {
    width: 80%;
    margin: auto;
}

.welcome-msg {
    font-size: 4.2rem;
    color: #1E90FF;
    text-align: center;
}


.player-form-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: 2rem;
}


/* 
.select-label {
    font-size: 1.6rem;
    color: #10b295;
    display: block;
    font-weight: 600;
    margin-bottom: .5rem;
} */
/* 
.player-name-input {
    font-size: 2rem;
    height: 3rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid #10b295;
    background-color: inherit;
    color: #333333;
    font-style: italic;
    transition: letter-spacing .2s;
} */

/* .player-name-input:focus {
    outline: none;
    letter-spacing: .1rem;
    font-size: 2.2rem;
} */

.player-region-select {
    height: 3rem;
    display: block;
    border: 1px solid #10b295;
    width: 100%;
    font-size: 2rem;
    outline: none;
    border-radius: 5px;
    color: #10b295;
}

.player-region-select-option {
    font-size: 2rem;
}

.player-match-select {
    height: 3rem;
    display: block;
    border: 1px solid #10b295;
    width: 100%;
    font-size: 2rem;
    outline: none;
    border-radius: 5px;
    color: #10b295;
}

.player-match-select-option {
    flex-basis: 50%;
}

.player-search-user-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-search-user-button {
    display: block;
    font-size: 2rem;
    padding: .5rem;
    flex-basis: 50%;
    color: #fafafa;
    background-color: #10b295;
    border: 1px solid #1E90FF;
    border-radius: 10px;
    outline: none;
    transition: all .1s;
}

.player-search-user-button:active {
    transform: scale(1.04) translateX(8px);
    letter-spacing: .1rem;
    background-color: #10B2C6;
}

.player-select-section {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.player-region-container {
    display: flex;
    width: 45%;
    flex-direction: column;
}

.player-match-container {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.match-info-container {
    width: 100%;
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0 6rem 0;
}

.match-info {
    display: flex;
    width: 70%;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.match-info>li {
    flex-basis: 30%;
    height: 5rem;
    border-bottom: 1px solid #10b295;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E90FF;
}

.match-info-mapName {
    color: #1E90FF;
    font-size: 4rem;
    letter-spacing: .2rem;
    border-bottom: #10b295;
    display: block;
    align-content: center;
    margin: .5rem 0 1rem 0;
}

.match-info-mode {
    font-size: 2.5rem;
}

.match-info-type {
    font-size: 2.5rem;
}

.match-info-playerCount {
    font-size: 2.5rem;
}

.match-info-played {
    font-size: 2.5rem;
    color: #1E90FF;
    border-bottom: 1px solid #10b295;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 4rem auto 7rem auto;
}

.player-input-name-section {
    display: block;
    position: relative;
    width: 50%;
    margin-bottom: 2rem;
}
.filter-container {
    display: block;
    position: relative;
    width: 30%;
    margin-bottom: 8rem;
}

.player-input-name-section label, .filter-container label{
    position: absolute;
    left: 0;
    /* font-size: 1.6rem; */
    color: #333333;
    display: block;
    font-weight: 600;
    margin-bottom: .5rem;
    top: -1.5rem;
    cursor: text;
    font-size: 120%;
    opacity: 1;
    transition: all 0.2s;
}


.player-name-input, .filter-input {
    font-family: 'Athiti', sans-serif;
    font-size: inherit;
    margin-bottom: .2rem;
    font-size: 2rem;
    height: 3rem;
    font-weight: 600;
    width: 100%;
    color: #10b295;
    border: none;
    border-bottom: 2px solid;
    background-color: inherit;

    transition: letter-spacing .2s;
}
.player-input-name-section input::placeholder,
.filter-container input::placeholder {
    opacity: 1;
    color: #10b295;
}



  .player-input-name-section input:placeholder-shown:not(:focus)::placeholder,
  .filter-container input:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
  }
  .player-input-name-section input:placeholder-shown:not(:focus) + *,
  .filter-container input:placeholder-shown:not(:focus) + *  {
    font-size: 2rem;
    opacity: 1;
    color: #10b295;
    top: -.2rem;
  }
  .player-name-input.ng-valid.ng-not-empty.ng-dirty.ng-valid-parse.ng-touched,
  .filter-input.ng-valid.ng-not-empty.ng-dirty.ng-valid-parse.ng-touched {
      border-color: #333333;
  }

  /* .player-input-name-section  .filter-input:focus::-webkit-input-placeholder {
    color:#10b295;
  } */
  .player-input-name-section input:focus,
  .filter-container input:focus {
    /* outline: none;
    letter-spacing: .1rem;
    font-size: 2.2rem; */
    color: #10b295;
    outline: none;
    border-color: #333333;
  }
/*   
.filter-input {
    font-size: 2rem;
    height: 3rem;
    width: 100%;
    border: none;
    border-bottom: 3px solid #10b295;
    background-color: inherit;
    color: #333333;
    font-style: italic;
    transition: letter-spacing .2s;
}

.filter-input::-webkit-input-placeholder {
    color: green;
}

.filter-input:focus {
    outline: none;
    letter-spacing: .1rem;
    font-size: 2.2rem;
} */

.player-table {
    width: 100%;
    margin-bottom: 20rem;
    font-size: 2rem;
    border-collapse: collapse;
}

.player-table th {
    border: 2px solid #33BFEB;
    padding: .3rem 0;
    color: #fafafa;
    background-color: #1E90FF;
    cursor: pointer;
}

.player-table td,
.player-table th {
    border: 2px solid #33BFEB;
    padding: .3rem 0;
}

.player-table-row th:nth-child(1) {
    width: 5%;
}

.player-table-row th:nth-child(2) {
    width: 20%;
    padding: .3rem 0;
}

.player-table-row th:nth-child(3) {
    width: 5%;
}

.player-table-row th:nth-child(4) {
    width: 10%;
}

.player-table-row th:nth-child(5) {
    width: 10%;
}

.player-table-row th:nth-child(6) {
    width: 10%;
}

.player-table-row th:nth-child(7) {
    width: 8%;
}

.player-table-row th:nth-child(8) {
    width: 8%;
}

.player-table-row th:nth-child(9) {
    width: 7%;
}

.player-table-row th:nth-child(10) {
    width: 8%;
}
.player-table-row th:nth-child(11) {
    width: 9%;
}
.player-table tbody tr>td:nth-of-type(2) {
    font-weight: 600;
    padding-left: 1rem;
    color: #1E90FF;
}

.player-table tbody tr>td:not(:nth-of-type(2)) {
    text-align: center;
    color: #1E90FF;
}





  

