.player-section {
    background-color: #eee;
}

.container {
    width: 80%;
    margin: auto;
}

.player-container {
    
}

.player-form-container {
    display: flex;
    justify-content: flex-start;
    
    flex-direction: column;
}

.player-input-name-section {
    width: 50%;
    margin-bottom: 2rem;
}

.select-label {
    font-size: 2rem;
    color: #333333;
    display: block;
}

.player-name-input {
    font-size: 2rem;
    height: 3rem;
    width: 100%;
}

.player-region-select {
    height: 3rem;
    display: block;

    width: 100%;
    font-size: 2rem;
}

.player-region-select-option {
    font-size: 2rem;
}

.player-match-select {
   height: 3rem;
   width: 100%;
   display: block;
   font-size: 2rem
}

.player-match-select-option {
 flex-basis: 50%;
}

.player-search-user-container {
    display:flex;
}








.player-search-user-button {
    display: block;
    font-size: 2rem;
    padding: .5rem;
    flex-basis: 50%;
}


.player-select-section {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.player-region-container{
    display: flex;
    width: 45%;
    flex-direction: column;
} 

.player-match-container{
    display: flex;
    width: 50%;
    flex-direction: column;
} 

.match-info {
    display: flex;
    width: 50%;
    margin: auto;
}

.match-info-mapName{
    font-size: 3rem;
    display: block;
    align-content: center;
}

.match-info-container {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
}

.match-info-mode {
    font-size: 2.5rem;
}

.match-info-type{
    font-size: 2.5rem;
}

.match-info-playerCount{
    font-size: 2.5rem;
}
.match-info-played{
    font-size: 2.5rem;
}







.player-table {
    width: 100%;
    font-size: 2rem;
}

.player-table-row th:nth-child(1) {
    width: 5%;
    
}

.player-table-row th:nth-child(2) {
    width: 20%;
}
.player-table-row th:nth-child(3) {
    width: 5%;
}
.player-table-row th:nth-child(4) {
    width: 10%;
}
.player-table-row th:nth-child(5) {
    width: 10%;
}
.player-table-row th:nth-child(6) {
    width: 10%;
}
.player-table-row th:nth-child(7) {
    width: 8%;
}
.player-table-row th:nth-child(8) {
    width: 10%;
}
.player-table-row th:nth-child(9) {
    width: 8%;
}
.player-table-row th:nth-child(10) {
    width: 14%;
}

.player-table tbody tr > td:not(:nth-of-type(2)) {
    text-align: center;
}